doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Curiosity IO - Mobile app development
        link(rel='stylesheet', href='https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css')
    body
        .w-100.min-vh-100.bg-near-black.content-center.flex.tc.justify-center.flex-column
            img.mw6.center(src="img/logo_white.svg")
            h1.f1.normal.white.pv3.w-70.center Android and iOS app development for startups.
            a.f2.normal.link.white.b.ba.pv2.ph4.br2.center(href="#") Learn more
